{% extends "base.html" %}
{% block content %}
{% load django_bootstrap5 %}
{% load i18n %}
<main class="m-5">
  {% bootstrap_messages %}
  <div class="p-5">
    <p class="fs-1">{% translate "Users" %}</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% translate "Username" %}</th>
        <th scope="col">{% translate "Full name" %}</th>
        <th scope="col">{% translate "Creation date" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for user in object_list %}
      <tr>
        <td>{{ user.pk }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.date_joined|date:'d.m.Y H:i' }}</td>
        <td>
          <a class="navbar-brand" href="{% url 'update_user' pk=user.pk %}">{% translate "Edit" %}</a>
          <br>
          <a class="navbar-brand" href="{% url 'delete_user' pk=user.pk %}">{% translate "Remove" %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}